# Visual Studio files
*.suo
*.user
*.vcxproj.user
*.sln.docstates
*.cache
*.VC.db
*.opendb
*.opensdf
*.sdf
*.jmc
*.log
*.dll.recipe

# Build results
Debug/
Release/
x64/
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.tlog
*.idb
*.pch

# Other
.vs/
/MFCApplicationClient/.vs
*.ipch
*.aps
/ImageProcessingLib/ImageProcessingLib/Kernels
/MFCApplicationClient/MFCApplicationClient/Statistics/*
